<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form>

		<h:panelGrid style="float:center;" columns="1">

			<h:panelGrid id="panelGrid-campos-form" columns="2" cellpadding="10"
				cellspacing="10">

				<p:outputLabel value="id" for="inputText-codigo" />
				<p:inputText size="3" disabled="true" id="inputText-codigo"
					value="#{consultaPacienteBean.itemSelecionado.id}" readonly="true" />

				<p:outputLabel value="Nome" for="inputText-nome" />
				<p:inputText size="40" disabled="true" id="inputText-nome"
					value="#{consultaPacienteBean.itemSelecionado.nome}"
					readonly="true" />

				<p:outputLabel style="margin-top:2px" value="Endereço"
					for="inputText-endereco" />
				<p:inputText size="50" id="inputText-endereco"
					value="#{consultaPacienteBean.itemSelecionado.endereco}" />

				<p:outputLabel value="Numero" for="inputText-numero" />
				<p:inputText id="inputText-numero"
					value="#{consultaPacienteBean.itemSelecionado.numero}" />

				<p:outputLabel value="Cidade" for="inputText-cidade" />
				<p:inputText size="20" id="inputText-cidade"
					value="#{consultaPacienteBean.itemSelecionado.cidade}" />


				<p:outputLabel value="UF" for="inputText-uf" />
				<p:inputText id="inputText-uf"
					value="#{consultaPacienteBean.itemSelecionado.uf}" />

				<p:outputLabel value="Tratamento" for="inputText-tratamentoAtivo" />

				<p:selectOneMenu id="inputText-tratamentoAtivo"
					value="#{consultaPacienteBean.itemSelecionado.tratamentoAtivo}">
					<f:selectItem itemLabel="Selecione" itemValue="" />
					<f:selectItem itemLabel="Ativo" itemValue="Ativo" />
					<f:selectItem itemLabel="Inativo" itemValue="Inativo" />
				</p:selectOneMenu>

			</h:panelGrid>

			<h:panelGrid width="100%" columns="1">

				<p:commandButton style="float:right" value="Alterar"
					id="commandButton-alterar" icon="ui-icon-gear"
					actionListener="#{consultaPacienteBean.alterar}"
					oncomplete="PF('dialog-modal-editar').hide();"
					update="form-consultarPacientes" />

			</h:panelGrid>

		</h:panelGrid>


		<p:messages showDetail="false" autoUpdate="true" closable="true"
			severity="error" />



	</h:form>
</ui:composition>