<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form>

		<h:panelGrid columns="1">

			<h:panelGrid id="panelGrid-campos-form" columns="2" >

				<p:outputLabel style="padding-top: 5px; padding-bottom: 5px" value="id" for="inputText-codigo" />
				<p:inputText size="3" disabled="true" id="inputText-codigo"
					value="#{consultaLivroBean.itemSelecionado.id}" readonly="true" />

				<p:outputLabel style="padding-top: 5px; padding-bottom: 5px" value="Nome" for="inputText-nome" />
				<p:inputText size="30" id="inputText-nome"
					value="#{consultaLivroBean.itemSelecionado.nome}" />

				<p:outputLabel style="padding-top: 5px; padding-bottom: 5px" value="Autor"
					for="inputText-autor" />
				<p:inputText size="30" id="inputText-autor"
					value="#{consultaLivroBean.itemSelecionado.autor}" />

				<p:outputLabel style="padding-top: 5px; padding-bottom: 5px" value="Situação" for="inputText-estado" />

				<p:selectOneMenu id="inputText-estado"
					value="#{consultaLivroBean.itemSelecionado.status}">
					<f:selectItem itemLabel="Disponivel" itemValue="Disponivel" />
					<f:selectItem itemLabel="Emprestado" itemValue="Emprestado" />
				</p:selectOneMenu>
				
				<p:outputLabel  style="padding-top: 5px; padding-bottom: 5px" value="Ultimo emprestimo"
					for="inputText-emprestadopara" />
				<p:inputText disabled="true" size="30" id="inputText-emprestadopara"
					value="#{consultaLivroBean.itemSelecionado.emprestimo.nomePaciente}" />

				<p:outputLabel  style="padding-top: 5px; padding-bottom: 5px" value="Observação" for="inputText-Observacao" />
				<p:inputTextarea rows="3" cols="40" id="inputText-Observacao"
					value="#{consultaLivroBean.itemSelecionado.observacao}" />



			</h:panelGrid>

			<h:panelGrid width="100%" columns="1">

				<p:commandButton style="float:right" value="Alterar"
					id="commandButton-alterar" icon="ui-icon-gear"
					actionListener="#{consultaLivroBean.alterar}"
					oncomplete="PF('dialog-modal-editar').hide();"
					update="form-consultarLivros" />

			</h:panelGrid>

		</h:panelGrid>


		<p:messages showDetail="false" autoUpdate="true" closable="true"
			severity="error" />



	</h:form>
</ui:composition>