<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/layoutBase.xhtml">

	<ui:define name="content">
		<h:form id="form-cadastro">
			<p:growl id="growl-mensagem" />


			<p:panel id="basic" header="Cadastro de Livros"
				style="margin-bottom:20px;">


				<h:panelGrid border="0" columns="2" width="100%">

					<h:panelGrid columns="1" cellpadding="0">

						<h:panelGrid columns="1" cellpadding="10" cellspacing="10">
							<h:outputLabel style="font-size: 12px;" value="Nome do Livro" />

							<p:inputText id="id_nome" size="30"
								value="#{cadastroLivroBean.livroDTO.nome}" required="true"
								requiredMessage="O nome é de preenchimento obrigatório" />

							<h:panelGrid columns="2" cellpadding="10" cellspacing="10">
							
							
							<h:outputLabel style="font-size: 12px;" value="Autor" />
							<h:outputLabel style="font-size: 12px; margin-left: 5px;"
								value="Estado de Conservação" />

							<p:inputText id="id_autor" size="30"
								value="#{cadastroLivroBean.livroDTO.autor}" required="true"
								requiredMessage="O autor é de preenchimento obrigatório" />
								
								
							

							<p:selectOneMenu id="id_uf" style="margin-left:5px;"
								value="#{cadastroLivroBean.livroDTO.estado}">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItem itemLabel="Bom" itemValue="Bom" />
								<f:selectItem itemLabel="Regular" itemValue="Regular" />
								<f:selectItem itemLabel="Ruim" itemValue="Ruim" />
							</p:selectOneMenu>
							
							</h:panelGrid>

							<h:outputLabel style="font-size: 12px;" value="Observacao" />
							<p:inputTextarea rows="3" cols="50" counter="display"
								maxlength="180" counterTemplate="{0} caracteres restantes."
								autoResize="false"
								value="#{cadastroLivroBean.livroDTO.observacao}" />
							<h:outputText id="display" />


						</h:panelGrid>


						<h:panelGroup>
							<h:panelGrid style="float: right" columns="2">





								<p:commandButton type="reset" style="margin-top: 10px"
									value="Limpar" id="commandButton-limpar"
									action="#{cadastroLivroBean.limpar}" />


								<p:commandButton style="margin-top: 10px" value="Cadastrar"
									id="commandButton-cadastrar"
									action="#{cadastroLivroBean.cadastrar}"
									update="growl-mensagem">

									<f:ajax render="@form" resetValues="true" />
								</p:commandButton>


							</h:panelGrid>
						</h:panelGroup>



						<p:messages showDetail="true" autoUpdate="true" closable="true"
							severity="warn" />
						<p:messages autoUpdate="true" closable="true" severity="error" />
						<p:messages showDetail="true" autoUpdate="true" closable="true"
							severity="info" />

					</h:panelGrid>

					<h:panelGrid style="width:400px" columns="1" cellpadding="0">
						<img src="../resources/imagens/icon_cadastro.png" />
					</h:panelGrid>

				</h:panelGrid>




			</p:panel>


		</h:form>
	</ui:define>

</ui:composition>
</html>