<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/layoutBase.xhtml">

	<ui:define name="content">
		<h:form id="form-cadastro">
			<p:growl id="growl-mensagem" />


			<p:panel id="basic" header="Cadastro de Pacientes"
				style="margin-bottom:20px;">


				<h:panelGrid  columns="2" width="100%">
				
					<h:panelGrid columns="1" cellpadding="0">

						<h:panelGrid columns="2" cellpadding="10" cellspacing="10">
							<h:outputLabel style="font-size: 12px;" value="Nome" />
							<h:outputLabel style="font-size: 12px;" value="Sexo" />

							<p:inputText id="id_nome" size="50"
								value="#{cadastroPacienteBean.pacienteDTO.nome}" required="true"
								requiredMessage="O nome é de preenchimento obrigatório" />

							<p:selectOneMenu id="id_sexo" required="true"
								requiredMessage="O sexo é de preenchimento obrigatório"
								style="margin-left:5px;"
								value="#{cadastroPacienteBean.pacienteDTO.genero}">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItem itemLabel="Feminino" itemValue="F" />
								<f:selectItem itemLabel="Masculino" itemValue="M" />
							</p:selectOneMenu>

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellpadding="10"
							cellspacing="10">

							<h:outputLabel style="font-size: 12px;" value="Nascimento" />
							<h:outputLabel style="font-size: 12px; margin-left: 5px;"
								value="Endereço" />
							<h:outputLabel style="font-size: 12px;  margin-left: 5px;"
								value="Numero" />

							<p:inputMask mask="99/99/9999" id="id_nascimento" size="7"
								value="#{cadastroPacienteBean.pacienteDTO.nascimento}"
								required="true"
								requiredMessage="O nascimento é de preenchimento obrigatório" />

							<p:inputText style="margin-left: 5px;" id="id_endereco" size="36"
								value="#{cadastroPacienteBean.pacienteDTO.endereco}"
								required="true"
								requiredMessage="O endereço é de preenchimento obrigatório" />

							<p:inputText style="margin-left: 5px;" id="id_numero" size="5"
								value="#{cadastroPacienteBean.pacienteDTO.numero}"
								required="true"
								requiredMessage="O numéro do endereço é de preenchimento obrigatório" />

						</h:panelGrid>

						<h:panelGrid columns="3">
							<h:outputLabel style="font-size: 12px;" value="Cidade" />
							<h:outputLabel style="font-size: 12px; margin-left: 5px;"
								value="CEP" />
							<h:outputLabel style="font-size: 12px; margin-left: 5px;"
								value="Estado" />

							<p:inputText id="id_cidade" size="10"
								value="#{cadastroPacienteBean.pacienteDTO.cidade}"
								required="true"
								requiredMessage="A cidade é de preenchimento obrigatório" />

							<p:inputText style="margin-left: 5px;" id="id_cep" size="8"
								value="#{cadastroPacienteBean.pacienteDTO.cep}" />

							<p:selectOneMenu id="id_uf" style="margin-left:5px;"
								value="#{cadastroPacienteBean.pacienteDTO.uf}">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItem itemLabel="SP" itemValue="SP" />
								<f:selectItem itemLabel="RJ" itemValue="RJ" />
							</p:selectOneMenu>

						</h:panelGrid>

						<h:panelGrid columns="1">
							<h:outputLabel style="font-size: 12px;" value="Fone" />
							<p:inputMask mask="(99) 99999-9999" id="id_fone" size="12"
								value="#{cadastroPacienteBean.pacienteDTO.fone}" />

							<h:outputLabel style="font-size: 12px;" value="Observacao" />
							<p:inputTextarea rows="3" cols="50" counter="display"
								maxlength="180" counterTemplate="{0} caracteres restantes."
								autoResize="false"
								value="#{cadastroPacienteBean.pacienteDTO.observacao}" />
							<h:outputText id="display" />

						</h:panelGrid>




						<h:panelGroup>
							<h:panelGrid style="float: right" columns="2">





								<p:commandButton type="reset" style="margin-top: 10px"
									value="Limpar" id="commandButton-limpar"
									action="#{cadastroPacienteBean.limpar}" />


								<p:commandButton style="margin-top: 10px" value="Cadastrar"
									id="commandButton-cadastrar"
									action="#{cadastroPacienteBean.cadastrar}"
									update="growl-mensagem">

									<f:ajax render="@form" resetValues="true" />
								</p:commandButton>


							</h:panelGrid>
						</h:panelGroup>



						<p:messages showDetail="true" autoUpdate="true" closable="true"
							severity="warn" />
						<p:messages autoUpdate="true" closable="true" severity="error" />
						<p:messages showDetail="true" autoUpdate="true" closable="true"
							severity="info" />




					</h:panelGrid>
					
					<h:panelGrid style="width:400px"  columns="1" cellpadding="0">
						<img src="../resources/imagens/icon_cadastro.png" />
					</h:panelGrid>

				</h:panelGrid>




			</p:panel>


		</h:form>
	</ui:define>

</ui:composition>
</html>