<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/layoutBase.xhtml">

	<ui:define name="content">

		<p:dialog dynamic="true" appendTo="@(body)" header="Selecionar Paciente" id="dialog-modal-editar"
			widgetVar="dialog-modal-editar" modal="true" height="370px"
			width="750px">

			
			<ui:include src="selecionarPaciente.xhtml" />


		</p:dialog>


		<h:form id="form-cadastro">
			<p:growl id="growl-mensagem" />


			<p:panel id="basic" header="Cadastrar Tratamentos"
				style="margin-bottom:20px;">


				<h:panelGrid columns="2" width="100%">

					<h:panelGrid columns="1" cellpadding="0">

						<h:panelGrid columns="2" cellpadding="10" cellspacing="10">
							<h:outputLabel style="font-size: 12px;" value="Paciente" />
							<h:outputLabel style="font-size: 12px;" value="" />

							<p:inputText id="id_nome" size="50"
								value="#{cadastroTratamentoBean.tratamentoDTO.nome}" />

							<p:commandButton icon="ui-icon-search" style="margin-left: 10px"
								styleClass="GreenButton" title="Selecionar Paciente"
								actionListener="#{cadastroTratamentoBean.recuperarPaciente}"
								oncomplete="PF('dialog-modal-editar').show();"
								update="dialog-modal-editar" />



						</h:panelGrid>


						<h:panelGrid columns="1">


							<h:outputLabel style="font-size: 12px;" value="Observacao" />
							<p:inputTextarea rows="3" cols="50" counter="display"
								maxlength="180" counterTemplate="{0} caracteres restantes."
								autoResize="false"
								value="#{cadastroTratamentoBean.tratamentoDTO.observacao}" />
							<h:outputText id="display" />

						</h:panelGrid>




						<h:panelGroup>
							<h:panelGrid style="float: right" columns="2">





								<p:commandButton type="reset" style="margin-top: 10px"
									value="Limpar" id="commandButton-limpar"
									action="#{cadastroTratamentoBean.limpar}" />


								<p:commandButton style="margin-top: 10px" value="Cadastrar"
									id="commandButton-cadastrar"
									action="#{cadastroTratamentoBean.cadastrar}"
									update="growl-mensagem">

									<f:ajax render="@form" resetValues="true" />
								</p:commandButton>


							</h:panelGrid>
						</h:panelGroup>



						<p:messages showDetail="true" autoUpdate="true" closable="true"
							severity="warn" />
						<p:messages autoUpdate="true" closable="true" severity="error" />
						<p:messages showDetail="true" autoUpdate="true" closable="true"
							severity="info" />




					</h:panelGrid>

					<h:panelGrid style="width:400px" columns="1" cellpadding="0">
						<img src="../resources/imagens/logo_tereza_tratamento.png" />
					</h:panelGrid>

				</h:panelGrid>




			</p:panel>


		</h:form>
	</ui:define>

</ui:composition>
</html>