<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/layoutBase.xhtml">

	<ui:define name="content">

		<p:dialog header="Editar Livro" id="dialog-modal-editar"
			widgetVar="dialog-modal-editar" modal="true" height="300px"
			width="600px">

			<ui:include src="alterarLivro.xhtml" />


		</p:dialog>



		<h:form id="form-consultarLivros">
			<p:growl id="growl-mensagem" />


			<p:panel id="basic" header="Consultar Livros"
				style="margin-bottom:20px;">
				<h:panelGrid columns="1" cellpadding="10" cellspacing="10">

					<h:outputLabel style="font-size: 12px;" value="Nome" />

						<p:inputText id="id_nome" size="30"
							value="#{consultaLivroBean.livroDTO.nome}" />
					



					<h:panelGrid cellspacing="2" cellpadding="2" columns="3">

					<h:outputLabel style="font-size: 12px;" value="Autor" />
					
					
					<h:outputLabel style="font-size: 12px;" value="Situação" />
					
					<h:outputLabel style="font-size: 12px;" value="" />
					
					
						<p:inputText id="id_autor" size="30"
							value="#{consultaLivroBean.livroDTO.autor}" />
							
					<p:selectOneMenu id="id_status" 
								style="margin-left:5px;"
								value="#{consultaLivroBean.livroDTO.status}">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItem itemLabel="Disponivel" itemValue="Disponivel" />
								<f:selectItem itemLabel="Emprestado" itemValue="Emprestado" />
					</p:selectOneMenu>
							

						<p:commandButton style="margin-left: 5px" value="Pesquisar"
							process="@form" id="commandButton-pesquisar"
							action="#{consultaLivroBean.pesquisar}"
							update="form-consultarLivros: tabela" ajax="false">
						</p:commandButton>

					</h:panelGrid>

					<p:messages showDetail="true" autoUpdate="true" closable="true"
						severity="warn" />
					<p:messages autoUpdate="true" closable="true" severity="error" />
					<p:messages showDetail="true" autoUpdate="true" closable="true"
						severity="info" />


				</h:panelGrid>

				<p:dataTable id="tabela" style="margin-top: 5px; font-size:12px;"
					var="item" value="#{consultaLivroBean.listaLivros}">
					<p:column style="width: 25%;" headerText="Nome">
						<h:outputText value="#{item.nome}" />
					</p:column>

					<p:column style="width: 10%;" headerText="Autor">
						<h:outputText value="#{item.autor}" />
					</p:column>

					<p:column style="width: 30%;" headerText="Data de Cadastro">
						<h:outputText
							value="#{item.dataCadastro}" />
					</p:column>

					<p:column headerText="Estado">
						<h:outputText value="#{item.estado}" />
					</p:column>
					
					<p:column headerText="Situação">
						<h:outputText value="#{item.status}" />
					</p:column>

					<p:column style="width: 5%; justify-content: center;" headerText="">

					  <p:commandButton icon="ui-icon-pencil" styleClass="GreenButton"
        				    				    title="Editar Registro"                        					 
                        					    ajax="true"                        					 
                        					    actionListener="#{consultaLivroBean.prepararAlterar(item)}"
                        					    oncomplete="PF('dialog-modal-editar').show();" 
                        					    update="dialog-modal-editar"/>


					</p:column>

				</p:dataTable>


			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>
</html>