<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template/layoutBase.xhtml">

	<ui:define name="content">

		<p:dialog header="Editar Paciente" id="dialog-modal-editar"
			widgetVar="dialog-modal-editar" modal="true" height="270px"
			width="550px">

			<ui:include src="alterarPaciente.xhtml" />


		</p:dialog>



		<h:form id="form-consultarPacientes">
			<p:growl id="growl-mensagem" />


			<p:panel id="basic" header="Consultar Pacientes"
				style="margin-bottom:20px;">
				<h:panelGrid columns="1" cellpadding="10" cellspacing="10">

					<h:outputLabel style="font-size: 12px;" value="Nome" />

					<h:panelGrid cellspacing="2" cellpadding="2" columns="2">

						<p:inputText id="id_nome" size="50"
							value="#{consultaPacienteBean.pacienteDTO.nome}" />

						<p:commandButton style="margin-left: 5px" value="Pesquisar"
							process="@form" id="commandButton-pesquisar"
							action="#{consultaPacienteBean.pesquisar}"
							update="form-consultarPacientes: tabela" ajax="false">
						</p:commandButton>

					</h:panelGrid>

					<p:messages showDetail="true" autoUpdate="true" closable="true"
						severity="warn" />
					<p:messages autoUpdate="true" closable="true" severity="error" />
					<p:messages showDetail="true" autoUpdate="true" closable="true"
						severity="info" />


				</h:panelGrid>

				<p:dataTable id="tabela" style="margin-top: 5px; font-size:12px;"
					var="item" value="#{consultaPacienteBean.listaPacientes}">
					<p:column style="width: 25%;" headerText="Nome">
						<h:outputText value="#{item.nome}" />
					</p:column>

					<p:column style="width: 10%;" headerText="Nascimento">
						<h:outputText value="#{item.nascimento}" />
					</p:column>

					<p:column style="width: 30%;" headerText="Endereço">
						<h:outputText
							value="#{item.endereco} - #{item.numero} - #{item.cidade}" />
					</p:column>

					<p:column headerText="Fone">
						<h:outputText value="#{item.fone}" />
					</p:column>

					<p:column headerText="Tratamento">
						<h:outputText value="#{item.tratamentoAtivo}" />
					</p:column>

					<p:column style="width: 5%; justify-content: center;" headerText="">

					  <p:commandButton icon="ui-icon-pencil" styleClass="GreenButton"
        				    				    title="Editar Registro"                        					 
                        					    ajax="true"                        					 
                        					    actionListener="#{consultaPacienteBean.prepararAlterar(item)}"
                        					    oncomplete="PF('dialog-modal-editar').show();" 
                        					    update="dialog-modal-editar"/>


					</p:column>

				</p:dataTable>


			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>
</html>