<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="form-cadastro-tratamento-paciente">

		<h:panelGrid style="float:center;" columns="1">

			<h:panelGrid id="panelGrid-campos-form" columns="2" cellpadding="10"
				cellspacing="10">

				<h:panelGrid cellspacing="2" cellpadding="2" columns="2">

					<p:inputText id="id_nome" size="50"
						value="#{cadastroTratamentoBean.tratamentoDTO.nome}" />

					<p:commandButton style="margin-left: 5px" value="Pesquisar"
						id="commandButton-pesquisar" process="@form"
						update="form-cadastro-tratamento-paciente: tabela"
						action="#{cadastroTratamentoBean.pesquisar}">
					</p:commandButton>

				</h:panelGrid>


				<p:messages showDetail="true" autoUpdate="true" closable="true"
					severity="warn" />
				<p:messages autoUpdate="true" closable="true" severity="info" />
				<p:messages showDetail="true" autoUpdate="true" closable="true"
					severity="info" />

				<p:dataTable id="tabela" style="margin-top: 5px; font-size:12px;"
					var="item" value="#{cadastroTratamentoBean.listaPacientes}">
					<p:column style="width: 25%;" headerText="Nome">
						<h:outputText value="#{item.nome}" />
					</p:column>

					<p:column style="width: 25%;" headerText="Selecionar">

						<p:commandButton style="float:right" value="Alterar"
							id="commandButton-alterar" icon="ui-icon-check"
							action="#{cadastroTratamentoBean.selecionarPaciente(item)}"
							oncomplete="PF('dialog-modal-editar').hide();"
							 />

					</p:column>



				</p:dataTable>


			</h:panelGrid>
		</h:panelGrid>


		<p:messages showDetail="true" autoUpdate="true" closable="true"
			severity="info" />



	</h:form>
</ui:composition>