<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:form>

 <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="btn btn">
          <img src="../resources/imagens/logo_tereza.png" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./home.xhtml">Inicio</a></li>
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pacientes<span class="caret"></span></a>
            		<ul class="dropdown-menu">
            			<li><a class="dropdown-item" href="./cadastroPaciente.xhtml">Cadastrar</a></li>
            			<li><a class="dropdown-item" href="./consultaPaciente.xhtml">Consultar</a></li>
            			<li><a class="dropdown-item" href="./cadastroTratamento.xhtml">Cadastrar Tratamento</a></li>
            		</ul>
            </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Biblioteca <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="./cadastroLivro.xhtml">Cadastrar Livro</a></li>
                <li><a class="dropdown-item" href="./consultaLivro.xhtml">Consultar Livro</a></li>
                <li><a class="dropdown-item" href="./registrarEmprestimo.xhtml">Registrar Emprestimo</a></li>
                <li><a class="dropdown-item" href="./registrarDevolucaos.xhtml">Registrar Devolução</a></li>
                <li><a class="divider" role="separator"></a></li>
                <li><a class="dropdown-item" href="/sistema/consultarEmprestimos.xhtml">Consultar Emprestimos</a></li>
                
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrativo <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="/sistema/cadastro_pacientes.xhtml">Cadastrar Colaboradores</a></li>
                <li><a class="dropdown-item" href="/sistema/cadastro_pacientes.xhtml">Cadastrar Usuarios</a></li>
              </ul>
            </li>
          </ul>
 		 <ul class="nav navbar-nav navbar-right" style="margin-top: 5px">

          <a href="#" class="btn btn" style="font-size: 12px">
         	 <p:commandButton style="margin-right:10px; border:1px" value="Sair" icon="ui-icon-extlink" action="#{usuarioController.Logout}" />
          </a>
 		 
 		 </ul>
        </div><!--/.nav-collapse -->
        
      </div>
      
    </nav>
	

</h:form>

</html>
