<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">



<h:head>
	<style>
.ui-growl {
	margin-top: 100px;
	right: 130px;
}
</style>

	<link rel="stylesheet"
		href="https://bootstrapdocs.com/v3.3.0/docs/dist/css/bootstrap-theme.min.css" />
	<link rel="stylesheet"
		href="https://bootstrapdocs.com/v3.3.0/docs/dist/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://bootstrapdocs.com/v3.3.0/docs/examples/theme/theme.css" />
	<link rel="stylesheet"
		href="https://bootstrapdocs.com/v3.3.0/docs/assets/js/ie-emulation-modes-warning.js" />
	
	<title>Sistema Tereza Davila</title>
 

</h:head>


<body>


	<div id="header">
		<ui:include src="header.xhtml" />
	</div>

	<div id="content"
		style="margin-top: 0%; margin-left: 120px; margin-right: 120px; padding-bottom: 70px;">
		<ui:insert name="content">
		</ui:insert>
		
	
		
	</div>

	<div id="footer">
		<ui:include src="footer.xhtml" />
	</div>


	<script
		src="https://bootstrapdocs.com/v3.3.0/docs/dist/js/bootstrap.min.js"></script>
	<script
		src="https://bootstrapdocs.com/v3.3.0/docs/assets/js/docs.min.js"></script>

</body>

</html>
